html{
    box-sizing: border-box;
    height: 100%;
}
*,
*::before,
*::after{
    box-sizing: inherit;
    margin:0;
    padding:0;

}
body{
    align-items: center;
    background: linear-gradient(320deg, #eb98eb, #ffefff, #63c89d);
    display: flex;
    font-family: 'Segoe UI', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;

}
.wrapper{
    backdrop-filter: blur(6.0px);
    -webkit-backdrop-filter: blur(6.0px);
    
    border-radius: 17px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(3px);
    background: rgba(255,255,255,0.40);
    border:1px solid rgba(255,255,255,0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 30px 45px;
}

.screen{
    backdrop-filter: blur(6.0px);
    -webkit-backdrop-filter: blur(6.0px);
    background: rgba(255,255,255,0.85);
    border: 1px solid rgba(255,255,255,0.01);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #232323;
    font-size: 26px;
    overflow: auto;
    padding: 15px;
    text-align: right;
    width: 326px;

}
.calc-button-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button{
    backdrop-filter: blur(6.0px);
    -webkit-backdrop-filter: blur(6.0px);
    background: rgba(255,255,255,0.85);
    border: 1px solid rgba(255,255,255,0.01);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #232323;
    flex-basis: 23%;
    font-family: inherit;
    font-size: 22px;
    height: 65px;
}
.calc-button:last-child{
    backdrop-filter: blur(6.0px);
    -webkit-backdrop-filter: blur(6.0px);
    background: rgba(255,255,255,0.85);
    border: 1px solid rgba(255,255,255,0.01);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    color: #fff;
    background: magenta;
}

.calc-button:last-child:hover{
    background-color: inherit;
    color: inherit;
}

.calc-button:hover{
    background-color: inherit;

}

.calc-button:active{
    background-color: lightblue;
}

.double{
    flex-basis: 45%;
}

.triple{
    flex-basis: 23%;
}